<!DOCTYPE html>
<html lang="ja">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>myGame</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/title.css') }}">

</head>

<body>

<div class="main">

    <div class="title">
        myGame
    </div>

    <div class="menu">

        <ul id="menuList">

            <li class="selected" data-action="new">
                ニューゲーム
            </li>

            <li data-action="load">
                ロード
            </li>

            <li data-action="option">
                オプション
            </li>

        </ul>

    </div>

</div>

<div class="version">
    Ver. {{ version }}
</div>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
<script src="{{ url_for('static', filename='js/title.js') }}"></script>

</body>
</html>